*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --white: rgb(255, 255, 255);
  --dark: rgb(0, 0, 0);
  --off-dark: rgb(28, 28, 28);
  --off-white: rgb(241, 241, 241);
  --red: rgb(255, 69, 58);
  --green: rgb(48, 209, 88);
  --red-light: rgb(215, 0, 21);
  --green-light: rgb(36, 128, 61);
}

html {
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
}

body.light {
  color: var(--dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5vmin;
}

/* ! NavBar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 2vmin 4vmin;
  background-color: var(--dark);
}

body.light .navbar {
  background-color: var(--white);
}

.logo-and-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo:hover {
  cursor: pointer;
  box-shadow: 0 0 4px var(--green), 0 0 8px var(--green), 0 0 12px var(--green);
  border-radius: 50%;
  background-color: var(--green);
}

body.light .nav-logo:hover {
  box-shadow: 0 0 4px var(--green-light), 0 0 8px var(--green-light), 0 0 12px var(--green-light);
  background-color: var(--green-light);
}

.home-link {
  text-decoration: none;
}

.nav-logo {
  width: 10vmin;
}

.title {
  font-size: 4.5vmin;
}

.theme-toggle {
  display: flex;
  align-items: center;
  font-size: 6vmin;
  cursor: pointer;
  padding: 2vmin 2vmin;
}

.theme-toggle:hover, .green {
  color: var(--green);
}

body.light .theme-toggle:hover, body.light .green {
  color: var(--green-light)
}

/* ! App content - Teams and assignment */
.gen-page, .home-page {
  min-height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    var(--off-dark),
    var(--green) 0.1vmin,
    #242424 0.1vmin,    
    #1c1c1c 40vmin
  );
}

body.light .gen-page, body.light .home-page {
  background: repeating-linear-gradient(
    45deg,
    var(--off-white),
    var(--green-light) 0.1vmin,
    #F1F1F1 0.1vmin,    
    #FFFFFF 40vmin
  );
}

.home-page {
  padding-top: 30vmin;
}

.gen-page {
  padding-top: 5vmin;
}

.add-participant-comp, .intro {
  padding-top: 2vmin;
}

.intro {
  font-weight: bold;
  margin: 0 4vmin;
  font-size: 4vmin;
}

.euro-2024 {
  position: relative;
  cursor: pointer;
}

.euro-2024:hover {
  animation: colour-change 4s infinite, glow 2s infinite;
}

body.light .euro-2024:hover {
  animation: light-colour-change 4s infinite, light-glow 2s infinite;
}

.home-desc {
  margin: 2vmin 0;
}

.all-flags {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2vmin;
  padding: 2vmin;
  margin: 2vmin 8vmin 0 8vmin;
}

.team-flag {
  width: 100%;
  height: 8vmin;
}

.teams-comp {
  padding-bottom: 2vmin;
}

.participants-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-name {
  margin-right: 5vmin;
  padding: 1vmin 2vmin;
  background-color: var(--dark);
  color: var(--white);
  border: 1px solid var(--green);
  font-size: 4vmin;
}

body.light .enter-name, body.light .team-limit {
  background-color: var(--white);
  color: var(--dark);
  border-color: var(--green-light);
}

.ppl {
  font-size: 4vmin;
}

.team-limit-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-limit {
  font-size: 3vmin;
  border: 1px solid var(--green);
  background-color: var(--dark);
  color: var(--white);
  padding: 1vmin 2vmin;
  margin-left: 2vmin;
  width: auto;
}

.assign-btn, .add-btn, .reset-btn, .go-to-gen-btn {
  color: var(--dark);
  font-size: 4vmin;
  font-weight: bold;
  border: var(--dark) 1px solid;
  padding: 1vmin 2vmin;
  margin: 2vmin 0;
}

body.light .assign-btn, body.light .add-btn, body.light .reset-btn, body.light .go-to-gen-btn {
  color: var(--white);
  border-color: var(--white);
}

.assign-btn, .add-btn, .go-to-gen-btn {
  background-color: var(--green);
}

body.light .assign-btn, body.light .add-btn, body.light .go-to-gen-btn {
  background-color: var(--green-light);
}

.reset-btn {
  background-color: var(--red);
  margin: 0 4vmin;
}

body.light .reset-btn {
  background-color: var(--red-light);
}

.assign-btn:hover, .add-btn:hover, .go-to-gen-btn:hover {
  background-color: var(--dark);
  color: var(--green);
  cursor: pointer;
  border-color: var(--green);
}

body.light .assign-btn:hover, body.light .add-btn:hover, body.light .go-to-gen-btn:hover {
  background-color: var(--white);
  color: var(--green-light);
  border-color: var(--green-light);
}

.reset-btn:hover {
  background-color: var(--dark);
  color: var(--red);
  cursor: pointer;
  border-color: var(--red);
}

body.light .reset-btn:hover {
  background-color: var(--white);
  color: var(--red-light);
  border-color: var(--red-light);
}

.error-msg {
  font-weight: bold;
  font-size: 3.5vmin;
  color: var(--red);
}

body.light .error-msg, body.light .portfolio {
  color: var(--red-light);
}

.current-participant {
  box-shadow: 0 0 4px var(--green), 0 0 8px var(--green), 0 0 12px var(--green);
  padding: 1vmin;
  border-radius: 5px;
  display: inline-block;
}

body.light .current-participant {
  box-shadow: 0 0 4px var(--green-light), 0 0 8px var(--green-light), 0 0 12px var(--green-light);
}

/* ? TeamList */
.participants-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40vmin, 1fr));
  gap: 2vmin;
  margin: 5vmin;
}

.participant-card {
  background-color: var(--dark);
  border: 1px solid var(--green);
  padding: 2vmin;
  border-radius: 2vmin;
  color: var(--white);
  box-shadow: 0 0 4px rgba(48, 209, 88, 0.6);
}

body.light .participant-card {
  background-color: var(--white);
  border-color: var(--green-light);
  color: var(--dark);
}

.card-name {
  text-decoration: underline;
  text-decoration-color: var(--green);
}

body.light .card-name {
  text-decoration-color: var(--green-light);
}

.teams-list {
  display: flex;
  justify-content: center;
}

.participant-card ul {
  list-style: none;
  padding: 0;
}

.participant-card li {
  display: flex;
  align-items: center;
  margin-bottom: 1vmin;
}

.participant-card img {
  margin-left: 0.5vmin;
}

/* ! Footer */
footer {
  background-color: var(--dark);
  color: var(--white);
  padding: 3vmin;
  font-size: 2.5vmin;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

body.light footer {
  background-color: var(--white);
  color: var(--dark);
}

.portfolio {
  text-decoration: none;
  color: var(--red);
}

.portfolio:hover {
  color: var(--green);
}

body.light .portfolio:hover {
  color: var(--green-light);
}

/* ! Media Queries */
@media (min-width: 500px) {
  /* NavBar */
  .nav-logo {
    width: 7vmin;
  }
  .title {
    font-size: 4vmin;
  }
  .gen-page, .home-page {
    padding-top: 4vmin;
  }
  .intro {
    font-size: 2.5vmin;
  }
  .theme-toggle {
    font-size: 4vmin;
  }
  .all-flags {
    grid-template-columns: repeat(8, 1fr);
  }
  .team-flag {
    height: 10vmin;
  }

  /* Teams and assignment */
  .assign-btn, .add-btn, .reset-btn, .go-to-gen-btn {
    font-size: 2vmin;
    padding: 1vmin;
  }
  .enter-name, .team-limit {
    font-size: 2vmin;
  }
  .ppl {
    font-size: 2.5vmin;
  }
  .current-participant {
    padding: 0.5vmin;
  }
  .error-msg {
    font-size: 2.5vmin;
  }
  .participants-grid {
    grid-template-columns: repeat(auto-fit, minmax(20vmin, 1fr));
  }

  /* Footer */
  footer {
    font-size: 2vmin;
  }
}

/* Keyframes */

@keyframes colour-change {
  0% {
    color: var(--green);
  }
  25% {
    color: var(--red);
  }
  50% {
    color: var(--white);
  }
  75% {
    color: var(--dark);
  }
  100% {
    color: var(--green);
  }
}

@keyframes light-colour-change {
  0% {
    color: var(--green-light);
  }
  25% {
    color: var(--red-light);
  }
  50% {
    color: var(--white);
  }
  75% {
    color: var(--dark);
  }
  100% {
    color: var(--green-light);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px var(--green), 0 0 10px var(--green), 0 0 15px var(--green);
  }
  50% {
    text-shadow: 0 0 20px var(--green), 0 0 30px var(--green), 0 0 40px var(--green);
  }
  100% {
    text-shadow: 0 0 5px var(--green), 0 0 10px var(--green), 0 0 15px var(--green);
  }
}

@keyframes light-glow {
  0% {
    text-shadow: 0 0 5px var(--green-light), 0 0 10px var(--green-light), 0 0 15px var(--green-light);
  }
  50% {
    text-shadow: 0 0 20px var(--green-light), 0 0 30px var(--green-light), 0 0 40px var(--green-light);
  }
  100% {
    text-shadow: 0 0 5px var(--green-light), 0 0 10px var(--green-light), 0 0 15px var(--green-light);
  }
}