*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --white: rgb(255, 255, 255);
  --dark: rgb(0, 0, 0);
  --off-dark: rgb(28, 28, 28);
  --off-white: rgb(241, 241, 241);
  --orange: rgb(255, 159, 10);
  --red: rgb(255, 69, 58);
}

html {
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5vmin;
}

/* ! NavBar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 2vmin 4vmin;
  background-color: var(--dark);
}

.logo-and-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-link {
  text-decoration: none;
}

.nav-logo {
  width: 10vmin;
}

.title {
  font-size: 4.5vmin;
}

/* ! App content - Teams and assignment */

.orange {
  color: var(--orange);
}

.app-content {
  min-height: 100vh;
  background: repeating-linear-gradient(
    -45deg,
    var(--off-dark),
    var(--orange) 0.1vmin,
    #242424 0.1vmin,    
    #1c1c1c 40vmin
  );
  /* background-size: 200% 200%;
  animation: pulse 120s linear infinite; */
}

.add-participant-comp, .intro {
  padding-top: 2vmin;
}

.intro {
  font-weight: bold;
  margin: 0 3vmin;
  font-size: 3.5vmin;
}

.teams-comp {
  padding-bottom: 2vmin;
}

.participants-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-name {
  margin-right: 5vmin;
  padding: 1vmin 2vmin;
  background-color: var(--dark);
  color: var(--white);
  border: 1px solid var(--orange);
  font-size: 4vmin;
}

.ppl {
  font-size: 4vmin;
}

.assign-btn, .add-btn, .reset-btn {
  color: var(--dark);
  font-size: 3.4vmin;
  font-weight: bold;
  border: var(--dark) 1px solid;
  padding: 1vmin 2vmin;
  margin: 2vmin 0;
}

.assign-btn, .add-btn {
  background-color: var(--orange);
}

.reset-btn {
  background-color: var(--red);
  margin-left: 5vmin;
}

.assign-btn:hover, .add-btn:hover {
  background-color: var(--dark);
  color: var(--orange);
  cursor: pointer;
  border-color: var(--orange);
}

.reset-btn:hover {
  background-color: var(--dark);
  color: var(--red);
  cursor: pointer;
  border-color: var(--red);
}

.error-msg {
  font-weight: bold;
  font-size: 3.5vmin;
  color: var(--red);
}

.current-participant {
  /* background-color: var(--orange); */
  color: var(--orange);
  box-shadow: 0 0 4px var(--orange), 0 0 8px var(--orange), 0 0 12px var(--orange);
  padding: 1vmin;
  border-radius: 5px;
  display: inline-block;
  /* padding: 0.5vmin; */
  /* border-radius: 5px; */
}
/* .current-participant {
  background-color: var(--orange);
  color: var(--dark);
  padding: 0.5vmin;
  border-radius: 5px;
} */

/* ! Footer */

footer {
  background-color: var(--dark);
  color: var(--white);
  padding: 3vmin;
  font-size: 2.5vmin;
  display: flex;
  justify-content: space-between;
}

.portfolio {
  text-decoration: none;
  color: var(--red);
}

.portfolio:hover {
  color: var(--orange);
}

/* ! Media Queries */

@media (min-width: 500px) {
  /* NavBar */
  .nav-logo {
    width: 7vmin;
  }
  .title {
    font-size: 4vmin;
  }
  .intro {
    font-size: 2.5vmin;
  }

  /* Teams and assignment */
  .assign-btn, .add-btn, .reset-btn {
    font-size: 2vmin;
    padding: 1vmin;
  }
  .enter-name {
    font-size: 2vmin;
  }
  .ppl {
    font-size: 2.5vmin;
  }
  .current-participant {
    padding: 0.5vmin;
  }
  .error-msg {
    font-size: 2.5vmin;
  }

  /* Footer */
  footer {
    font-size: 2vmin;
  }
}

/* ! Keyframes */

/* @keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
} */